@using ITalentBlogWebApp.Models
@{
    ViewData["Title"] = "Home Page";
}

@model List<Post>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="/pictures/@item.ImageName" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Description</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@item.Title">
                Read more...
            </button>
        </div>
    </div>
    <div class="modal fade" id="@item.Title" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@item.Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="/pictures/@item.ImageName" class="card-img-top">
                    <div class="mt-3">@item.Description</div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}