@model PostViewModel
@{
    ViewData["Title"] = "DeleteComment";
    Layout = "_template";
}

<h1>Delete Comment</h1>

<section class="single-post spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>
                                <div class="mb-3">
                                    <form id="ConfirmForm" method="Post" asp-controller="Post" asp-action="DeleteComment">
                                        <input type="hidden" name="confirm_value" value="" />
                                        <input type="hidden" name="postId" value="@Model.Id" />
                                        <input type="hidden" name="commentId" value="@item.Id" />
                                        <a onclick="Confirm('Comment')" class="btn btn-danger text-white">Delete Comment</a>
                                    </form>
                                    </div>
                            </td>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Message</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>