@{
    ViewData["Title"] = "EditPosts";
    Layout = "_template";
}
@model List<PostViewModel>
<h1>Edit Posts</h1>
<section class="single-post spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                <div class="mb-3">
                                    <form id="ConfirmForm" method="get" asp-controller="Post" asp-action="DeletePost">
                                        <input type="hidden" name="confirm_value" value="" />
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <a onclick="Confirm()" class="btn btn-danger text-white">Delete Post</a>
                                    </form>@*
                                    <form id="ConfirmForm" method="get" asp-controller="Post" asp-action="DeletePost">
                                        <input type="hidden" name="confirm_value" value="" />
                                        <a onclick="Confirm()" asp-route-id="@item.Id" class="btn btn-danger">Delete Post</a>
                                    </form> *@                                 
                                    </div>
                                <div class="mb-3"><a asp-controller="Post" asp-action="DeleteComment" asp-route-postId="@item.Id" class="btn btn-danger">Delete Comment</a></div>
                                <div><a asp-controller="Post" asp-action="UpdatePost" asp-route-id="@item.Id" class="btn btn-warning">Update Post</a></div>
                            </td>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td><img src="~/pictures/@item.ImageName" /></td>
                            <td>@item.Description</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
