@model PostViewModel
@{
    DateTime CreatedDate = DateTime.Parse(Model.CreatedDate);
    int month = CreatedDate.Month;
    int day = CreatedDate.Day;
    int year = CreatedDate.Year;
    Layout = "_template";
}


<section class="single-post spad">
    <div class="single-post__hero set-bg" data-setbg="/pictures/@Model.ImageName"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="single-post__title">
                    <div class="single-post__title__meta">
                        <h2>@(day)</h2>
                        <span>@(month)/@(year)</span>
                    </div>
                    <div class="single-post__title__text">
                        <ul class="label">
                            @*<li>Vegan</li>
                            <li>Desserts</li>*@
                        </ul>
                        <h4>@Model.Title</h4>
                        <ul class="widget">
                            <li>by Admin</li>
                            <li>3 min read</li>
                            <li>@(Model.Comments.Count) Comment</li>
                        </ul>
                    </div>
                </div>
                <div class="single-post__social__item">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
                <div class="single-post__top__text">
                    <p>
                        @Model.Description
                    </p>
                </div>
                <div class="single-post__comment">
                    <div class="widget__title">
                        <h4>@(Model.Comments.Count) Comment</h4>
                    </div>
                    @foreach (var item in Model.Comments)
                    {
                        <div class="single-post__comment__item">
                            <div class="single-post__comment__item__text">
                                <h5>@item.Name</h5>
                                <span>@item.CreatedDate</span>
                                <p>
                                    @item.Message
                                </p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    }
                    <div class="single-post__leave__comment">
                        <div class="widget__title">
                            <h4>Leave a comment</h4>
                        </div>
                        <form method="post" asp-action="AddComment">
                            <div class="input-list">
                                <input type="hidden" asp-for="Id" />
                                <input type="text" placeholder="Name" asp-for="Comment.Name">
                                <input type="text" placeholder="Email" asp-for="Comment.Email">
                            </div>
                            <textarea placeholder="Message" asp-for="Comment.Message"></textarea>
                            <button type="submit" class="site-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
