@using ITalentBlogWebApp.Models.ViewModels
@{
    Layout = "_AdminPanel";
}

@model List<PostViewModel>

<a asp-action="CreatePost" class="btn btn-success">Create Post</a>

<table class="table">
    <thead>
        <tr>
            <th>Action</th>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="mb-3"><a asp-action="DeletePost" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></div>
                    <div><a asp-action="UpdatePost" asp-route-id="@item.Id" class="btn btn-warning">Update</a></div>
                </td>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td><img src="~/pictures/@item.ImageName" style="width:100px;" /></td>
                <td>@item.Description</td>
                
            </tr>
        }
    </tbody>
</table>
            