@using ITalentBlogWebApp.Models.ViewModels.Posts

@model PostIndexViewModel
<nav class="navbar  navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Index" asp-route-categoryName=@null>All</a>
        @foreach (var item in @ViewBag.categoryNames)
        {
            TempData["CategoryName"] = @item;
            <a class="navbar-brand" asp-action="SetCategoryFilter" asp-route-categoryName="@item">@item</a>
        }
        <form class="d-flex" asp-action="Index" method="get">
            <input class="form-control me-2" type="text" placeholder="Search" asp-for="query">
            <button class="btn btn-outline-success">Search</button>
        </form>
    </div>
</nav>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    @foreach (var item in Model.Posts)
    {
        <div class="col">
            <div class="card h-100">
                <img src="/pictures/@item.ImageName" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">@item.Title</h4>
                    <h6 class="card-title">@item.Category.Name</h6>
                    <p class="truncate">@item.Description</p>
                    @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@item.modelId">
                        Read more...
                    </button>*@
                    <a asp-action="PostDeneme" asp-route-id="@item.Id" asp-route-categoryName="@item.Category.Name" class="btn btn-primary"> Read more...</a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="@item.modelId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@item.Title <span>/@item.Category.Name</span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/pictures/@item.ImageName" class="card-img-top">
                        <div>@item.Description</div>

                    </div>
                    <div class="modal-footer">
                        <span class="float-start">Date: @item.CreatedDate</span>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">

        <li class="page-item @(Model.page == 1 ? "disabled" : "")">
            <a class="page-link " asp-controller="Post" asp-action="Index" asp-route-page="@(Model.page-1)">Previous</a>
        </li>

        @for (int page = 1; page <= Model.totalPage; page++)
        {
            <li class="page-item"><a class="page-link" asp-controller="Post" asp-action="Index" asp-route-page="@(page)">@(page)</a></li>
        }

        <li class="page-item @(Model.page == Model.totalPage ? "disabled" : "")">
            <a class="page-link " asp-controller="Post" asp-action="Index" asp-route-page="@(Model.page+1)">Next</a>
        </li>
    </ul>
</nav>


<style>

    .truncate {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


